.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:14px;
	padding:10px 36px;
	margin:10px;
}

.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec url('chrome-extension://__MSG_@@extension_id__/images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}
.success {
	background:#BDFCC9 url('chrome-extension://__MSG_@@extension_id__/images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
	padding: 10px, 18px;
}
.note {
	background:#e3f7fc url('chrome-extension://__MSG_@@extension_id__/images/comment.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
}

.dGuide {
	background: #8B668B url('chrome-extension://__MSG_@@extension_id__/images/long.png') no-repeat 10px 50%;
	border:1px solid #2E0854;
	text-align: center;
	overflow: hidden;
	margin-bottom: 5px;
	height: 40px;
	color: rgba(0, 0, 0, 0.5);
}

.dGuide:hover{
	height:100%;
	color: white;
}

.DGS{
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
}

.success:hover{

}

.successRow{
	background:#e9ffd9
}

.warning {
	background:#fff8c4 url('chrome-extension://__MSG_@@extension_id__/images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
	background:#e3f7fc url('chrome-extension://__MSG_@@extension_id__/images/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
}